header a, header .header-image {
  height: 100%;
}

header .back{
  padding: 1vh 1vw;
  cursor: pointer;
  margin-top: 0.5%;
  margin-left: 1%;
}
header{
  background-color: rgb(212, 226, 208);
}

header .logo{
  margin-left: auto;
  margin-top: 1%;
  margin-right: 1%;
}
header .grey-line{
  margin-top: 1.5%;
  color: gray;
}
header .header-button{
    padding: 0 5vw;
    text-align: center;
    font-size: 4vh;
    cursor: pointer;
    height: 100%;
}
.float-left{
  float: left;
}
.float-rigt{
  float: right;
}
table {
  margin-top: 2%;
  margin: auto;
  text-align: center;
  table-layout: fixed;
  font-size: 1.125vw;
  width: 100%;
}
th, td {
  border-bottom: 1px solid #ddd;
  height: 3vw;
  text-align: center;
}

table .surname {
  width: 20%;
}
table .name {
  width: 15%;
}
table .city {
  width: 15%;
}
table .email {
  width: 20%;
}
table .actions {
  width: 20%;
  
}
.page-frame{
  margin: 2vh 4vw 0 4vw;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #1c2e36;
}

.stat-lent-title{
  text-align: center;
}

.table-pad{
  padding:100px;
}

.popup { 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  background-color: rgba(0,0,0, 0.5); 
} 

.popup-small{
  position: absolute; 
  left: 35%; 
  right: 35%; 
  top: 20%; 
  bottom: 40%; 
  margin: auto; 
  background: white; 

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup_inner { 
  position: absolute; 
  left: 30%; 
  right: 30%; 
  top: 5%; 
  bottom: 15%; 
  margin: auto; 
  background: white; 

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.form-header-close{ 
  margin-right: 0.2cm; 
  margin-top: 0.2cm; 
  font-size: 2.5vw; 
  cursor: pointer; 
  position: absolute; 
  right: 0; 
  top: 0; 
   
} 
 
.form-header-text{ 
  margin-left: 3%; 
  margin-top: 4%;
  margin-bottom : 3%; 
  font-size: 2.5vw;
  font-weight: bold; 
  float:left; 
  vertical-align: middle;
} 
.form-header{ 
  border-bottom: 1px solid rgb(168, 153, 153); 
  margin-bottom: 5px; 
  overflow:hidden;
} 
.register-user-button {
  justify-self: right;
}
.form-text-field{
  width: 40%;
  margin-top: 6%;
}
.form-text-field-wide{
  width: 80%;
  margin-top: 6%;
}
.form-text-field-city{
  width: 50%;
  margin-top: 6%;
}
.form-text-field-email{
  width: 70%;
  margin-top: 6%;
}
.form-container{
  margin-left: 6%;
}
.small-icon{
  font-size: 20;
}
.register-form-buttons{
  margin-top: 10%;
  margin-right: 6%;
}
.cancel-button{
  float: right;
}
.info{
  display: inline-block;
  margin: 10px;
}
.city {
  font-size: 1.25rem;
  font-weight: bold;
  }

.list{
  margin: 1rem;
}
.hide{
  display:none !important
}
