header .header-image {
  height: 30%;
  width: 30%;
}
header {
  margin-bottom: 2%;
}
Button .button-size-header {
  width: 10vw;
  margin-left: 50%;
}
.exit-icon {
  margin-left: 1vw;
}
header .logo{
  margin-top: 1%;
  margin-left: 1%;
}
header .logout {
  margin-top: 1%;
  margin-right: 1%;
}
header .grey-line{
  margin-top: 1.5%;
  color: gray;
}
.float-left{
  float: left;
}
.float-rigt{
  float: right;
}